*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:url('./more\ of\ people.jpg');
}

.keys{
    width:90%;
    margin:350px auto;
    display:flex;
    justify-content: space-between;
}
.key{
    width:calc(100/25);
    background-color:rgba(34, 34, 34, 0.881);
    color:#fff;
    padding:10px;
    font-size:25px;
    border-radius:5px;
    user-select:none;
    transition:.2s;
}
.key.active{
    background-color: #fff;
    color:#222;
    box-shadow:0 5px 9px #ddd;

}